# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\研一下\计算机系统结构\pytorch_flask_service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
